<div class="sidebar">

    <h2 class="logo">HRMS</h2>

    <ul>

        <li routerLink="/dashboard">
            <i class="pi pi-home"></i>
            Dashboard
        </li>

        <li routerLink="/employees">
            <i class="pi pi-users"></i>
            Employees
        </li>

        <li routerLink="/salary">
            <i class="pi pi-wallet"></i>
            Salary
        </li>

        <li routerLink="/payroll">
            <i class="pi pi-money-bill"></i>
            Payroll
        </li>

        <li routerLink="/increment">
            <i class="pi pi-chart-line"></i>
            Increment
        </li>

        <li routerLink="/promotion">
            <i class="pi pi-star"></i>
            Promotion
        </li>

        <li routerLink="/leave">
            <i class="pi pi-calendar"></i>
            Leave
        </li>

        <li routerLink="/attendance">
            <i class="pi pi-clock"></i>
            Attendance
        </li>

        <li routerLink="/notifications">
            <i class="pi pi-bell"></i>
            Notifications
        </li>

    </ul>

</div>
