.card{
    background:white;
    padding:20px;
    border-radius:12px;
}

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.status{
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
}

.active{
    background:#dcfce7;
    color:#166534;
}
.p-button-warning{
    background:white;
    color:#fbbf24;
}
.p-button-danger{
    background:white;
    color:#f87171;
}
.p-button-secondary{
    background:#e5e7eb;
    color:#374151;
}
.p-button-success{
    background:#3fd077;
    color: black;
}
