.navbar{
    background:white;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:10px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

img{
    border-radius:50%;
}
